## Test enviroment för att läsa in datan

Mount Drive to access Google drive data

In [162]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

All used imports

In [163]:
import pandas as pd
import numpy as np

Ladda CSV fil genom pandas dataframe

In [164]:
# dataset = pd.read_csv('/content/drive/MyDrive/DA150x-KEX/Cristina/Data/normalised_data_all_w_clinical_kex.csv') # Sara's directory
dataset = pd.read_csv('/content/drive/MyDrive/KTH/DA150x-KEX/Cristina/Data/normalised_data_all_w_clinical_kex.csv') # Noah's directory
dataset.head() # pre-view first five rows

,Unnamed: 0,Sample.ID,Participant.ID,dataset,Disease,serum.age,TREAT,FT1,FT2,FT3,...,HPA049320_SBA4_rep1,HPA051620_SBA4_rep1,HPA054862_SBA4_rep1,HPA003901_SBA4_rep1,HPA035863_SBA4_rep1,HPA040052_SBA4_rep1,HPA041542_SBA4_rep1,HPA044582_SBA4_rep1,HPA045702_SBA4_rep1,HPA048982_SBA4_rep1
0,1,S87,P3,DNHS,DMD,11.60849,NaN,0.0,0.0,NaN,...,12.476497,12.666707,12.331400,12.410101,12.504796,12.580695,12.574592,12.797013,12.492433,12.622226
1,2,S10,P3,DNHS,DMD,12.62423,NaN,NaN,NaN,NaN,...,12.494297,12.564169,12.354718,12.581718,12.441237,12.583769,12.579893,12.660894,12.450384,12.704464
2,3,S19,P3,DNHS,DMD,13.62081,NaN,NaN,NaN,NaN,...,12.554581,12.707240,12.460004,12.610387,12.504661,12.556319,12.679701,12.824755,12.517335,12.836970
3,4,S137,P4,DNHS,DMD,11.42505,NaN,NaN,NaN,NaN,...,12.455811,12.505603,12.416459,12.510771,12.472934,12.556096,12.473760,12.744020,12.511776,12.666065
4,5,S182,P4,DNHS,DMD,13.24572,NaN,NaN,NaN,NaN,...,12.523768,12.598164,12.369592,12.605211,12.523768,12.503911,12.557672,12.926602,12.518327,12.668579

## Första databehandling

In [165]:
token_to_val = {
    "DMD": 1,
    "Cnt": 0,
}

# Replace the string values in the column with numerical values using the mapping defined in token_to_val
dataset['Disease'] = dataset['Disease'].replace(token_to_val)

# Rename columns
dataset.rename(columns={dataset.columns[0]: 'ID'}, inplace=True)
dataset.rename(columns={'dataset': 'Dataset'}, inplace=True)
dataset.rename(columns={'serum.age': 'Participant.Age'}, inplace=True)


# Verify the change
print(dataset.columns)

Index(['ID', 'Sample.ID', 'Participant.ID', 'dataset', 'Disease', 'serum.age',
       'TREAT', 'FT1', 'FT2', 'FT3',
       ...
       'HPA049320_SBA4_rep1', 'HPA051620_SBA4_rep1', 'HPA054862_SBA4_rep1',
       'HPA003901_SBA4_rep1', 'HPA035863_SBA4_rep1', 'HPA040052_SBA4_rep1',
       'HPA041542_SBA4_rep1', 'HPA044582_SBA4_rep1', 'HPA045702_SBA4_rep1',
       'HPA048982_SBA4_rep1'],
      dtype='object', length=1039)

In [166]:
# Get summary statistics for whole data set
max = dataset.max(axis=None)
min = dataset.min(axis=None)
median = dataset.median(axis=None)

<ipython-input-166-0d865e1640cf>:2: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  max = dataset.max(axis=None)
<ipython-input-166-0d865e1640cf>:2: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  max = dataset.max(axis=None)
<ipython-input-166-0d865e1640cf>:3: FutureWarning: In a future version, DataFrame.min(axis=None) will return a scalar min over the entire DataFrame. To retain the old behavior, use 'frame.min(axis=0)' or just 'frame.min()'
  min = dataset.min(axis=None)
<ipython-input-166-0d865e1640cf>:3: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  min = dataset.min(axis=None)
<ipython-input-166-0d865e1640cf>:4: FutureWarning: In a future version, DataFrame.median(axis=None) will return a scalar median over the entire DataFrame. To retain the old behavior, use 'frame.median(axis=0)' or just 'frame.median()'
  median = dataset.median(axis=None)
<ipython-input-166-0d865e1640cf>:4: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  median = dataset.median(axis=None)

In [167]:
print(max)

ID                           384
Disease                      1.0
serum.age                   16.3
FT1                     3.215434
FT2                     0.628931
                         ...
HPA040052_SBA4_rep1    12.907514
HPA041542_SBA4_rep1    12.814063
HPA044582_SBA4_rep1    13.232916
HPA045702_SBA4_rep1    12.836329
HPA048982_SBA4_rep1    12.919319
Length: 1035, dtype: object

In [168]:
print(min)

ID                             1
Disease                      0.0
serum.age               4.016427
FT1                          0.0
FT2                          0.0
                         ...
HPA040052_SBA4_rep1    11.823214
HPA041542_SBA4_rep1    12.013636
HPA044582_SBA4_rep1    12.580456
HPA045702_SBA4_rep1    12.267231
HPA048982_SBA4_rep1     11.92033
Length: 1035, dtype: object

In [169]:
print(median)

ID                     192.500000
Disease                  1.000000
serum.age                7.585216
FT1                      0.458295
FT2                      0.244801
                          ...
HPA040052_SBA4_rep1     12.543317
HPA041542_SBA4_rep1     12.559998
HPA044582_SBA4_rep1     12.803850
HPA045702_SBA4_rep1     12.530788
HPA048982_SBA4_rep1     12.640344
Length: 1034, dtype: float64

In [170]:
# Get protein intensitiy values only by removing first 15 columns
intensities = dataset.iloc[:, 14:]
# print(intensities)

# Calculate min, max, and median for intensities
min_values = intensities.min()
max_values = intensities.max()
median_values = intensities.median()

# Now, calculate the average of these statistics across the columns
global_min = min_values.min()
global_max = max_values.max()
global_median = median_values.mean()

print("Global maximum intensity:", global_max)
print("Global median intensity:", global_median)
print("Global minimum intensity:", global_min)

Global maximum intensity: 18.665777617921
Global median intensity: 12.325486692708193
Global minimum intensity: 8.72125121808696

In [171]:
# Normalize protein intensities in dataset
"""
 OBS: we do not want to do this initially
      also it might make the  model less useful
      since it makes intensities from other
      studies or clinical samples harder to
      compare.

      Also, we are normalizing the intensities globally instead of per-column
      (per-protein). Would doing it per protein be better?

      Disabled for now.
"""
# dataset.iloc[:, 14:] = (dataset.iloc[:, 14:] - global_min) / (global_max - global_min)

print(dataset.head())

   ID Sample.ID Participant.ID dataset  Disease  serum.age TREAT  FT1  FT2  \
0   1       S87             P3    DNHS      1.0   11.60849   NaN  0.0  0.0
1   2       S10             P3    DNHS      1.0   12.62423   NaN  NaN  NaN
2   3       S19             P3    DNHS      1.0   13.62081   NaN  NaN  NaN
3   4      S137             P4    DNHS      1.0   11.42505   NaN  NaN  NaN
4   5      S182             P4    DNHS      1.0   13.24572   NaN  NaN  NaN

   FT3  ...  HPA049320_SBA4_rep1  HPA051620_SBA4_rep1  HPA054862_SBA4_rep1  \
0  NaN  ...            12.476497            12.666707            12.331400
1  NaN  ...            12.494297            12.564169            12.354718
2  NaN  ...            12.554581            12.707240            12.460004
3  NaN  ...            12.455811            12.505603            12.416459
4  NaN  ...            12.523768            12.598164            12.369592

  HPA003901_SBA4_rep1  HPA035863_SBA4_rep1  HPA040052_SBA4_rep1  \
0           12.410101            12.504796            12.580695
1           12.581718            12.441237            12.583769
2           12.610387            12.504661            12.556319
3           12.510771            12.472934            12.556096
4           12.605211            12.523768            12.503911

   HPA041542_SBA4_rep1  HPA044582_SBA4_rep1  HPA045702_SBA4_rep1  \
0            12.574592            12.797013            12.492433
1            12.579893            12.660894            12.450384
2            12.679701            12.824755            12.517335
3            12.473760            12.744020            12.511776
4            12.557672            12.926602            12.518327

   HPA048982_SBA4_rep1
0            12.622226
1            12.704464
2            12.836970
3            12.666065
4            12.668579

[5 rows x 1039 columns]

In [172]:
# Drop physical tests (might include them in the future)
columns_to_drop = dataset.columns[7:12]
dataset = dataset.drop(columns=columns_to_drop)

print(columns_to_drop)

Index(['FT1', 'FT2', 'FT3', 'FT4', 'FT5'], dtype='object')

In [173]:
# Print final dataset
print(dataset.head())

   ID Sample.ID Participant.ID dataset  Disease  serum.age TREAT  Plate  \
0   1       S87             P3    DNHS      1.0   11.60849   NaN      1
1   2       S10             P3    DNHS      1.0   12.62423   NaN      1
2   3       S19             P3    DNHS      1.0   13.62081   NaN      1
3   4      S137             P4    DNHS      1.0   11.42505   NaN      2
4   5      S182             P4    DNHS      1.0   13.24572   NaN      2

  Location  HPA029198_SBA1_rep1  ...  HPA049320_SBA4_rep1  \
0      D12            12.264364  ...            12.476497
1       C2            12.264976  ...            12.494297
2       D3            12.278605  ...            12.554581
3       H6            12.351390  ...            12.455811
4      H12            12.301256  ...            12.523768

   HPA051620_SBA4_rep1  HPA054862_SBA4_rep1  HPA003901_SBA4_rep1  \
0            12.666707            12.331400            12.410101
1            12.564169            12.354718            12.581718
2            12.707240            12.460004            12.610387
3            12.505603            12.416459            12.510771
4            12.598164            12.369592            12.605211

   HPA035863_SBA4_rep1  HPA040052_SBA4_rep1  HPA041542_SBA4_rep1  \
0            12.504796            12.580695            12.574592
1            12.441237            12.583769            12.579893
2            12.504661            12.556319            12.679701
3            12.472934            12.556096            12.473760
4            12.523768            12.503911            12.557672

   HPA044582_SBA4_rep1  HPA045702_SBA4_rep1  HPA048982_SBA4_rep1
0            12.797013            12.492433            12.622226
1            12.660894            12.450384            12.704464
2            12.824755            12.517335            12.836970
3            12.744020            12.511776            12.666065
4            12.926602            12.518327            12.668579

[5 rows x 1034 columns]

In [174]:
# Create list of training vectors consisting of age and protein intensities

columns = dataset.columns
# print(columns)

# Select specific columns (in this case only 5) and then from 9 through the last column
dataset_ANN_vectors = dataset.iloc[:, [5] + list(range(9, dataset.shape[1]))]

print(dataset_ANN_vectors.head())

   serum.age  HPA029198_SBA1_rep1  HPA047839_SBA1_rep1  HPA029005_SBA1_rep1  \
0   11.60849            12.264364            12.159417            12.348176
1   12.62423            12.264976            12.226864            12.430424
2   13.62081            12.278605            12.124720            12.377718
3   11.42505            12.351390            12.227065            12.320271
4   13.24572            12.301256            12.260200            12.403662

   HPA049793_SBA1_rep1  HPA014245_SBA1_rep1  HPA053793_SBA1_rep1  \
0            12.906300            12.211722            12.322140
1            13.152528            12.245174            12.340043
2            13.055278            12.206496            12.354011
3            12.655442            12.267009            12.340713
4            13.016106            12.140189            12.333273

   HPA059859_SBA1_rep1  HPA038097_SBA1_rep1  HPA061383_SBA1_rep1  ...  \
0            12.605700            12.446275            12.310066  ...
1            12.520733            12.510600            12.261979  ...
2            12.558732            12.542303            12.278218  ...
3            12.408411            12.428379            12.286022  ...
4            12.518398            12.617718            12.249096  ...

   HPA049320_SBA4_rep1  HPA051620_SBA4_rep1  HPA054862_SBA4_rep1  \
0            12.476497            12.666707            12.331400
1            12.494297            12.564169            12.354718
2            12.554581            12.707240            12.460004
3            12.455811            12.505603            12.416459
4            12.523768            12.598164            12.369592

   HPA003901_SBA4_rep1  HPA035863_SBA4_rep1  HPA040052_SBA4_rep1  \
0            12.410101            12.504796            12.580695
1            12.581718            12.441237            12.583769
2            12.610387            12.504661            12.556319
3            12.510771            12.472934            12.556096
4            12.605211            12.523768            12.503911

   HPA041542_SBA4_rep1  HPA044582_SBA4_rep1  HPA045702_SBA4_rep1  \
0            12.574592            12.797013            12.492433
1            12.579893            12.660894            12.450384
2            12.679701            12.824755            12.517335
3            12.473760            12.744020            12.511776
4            12.557672            12.926602            12.518327

   HPA048982_SBA4_rep1
0            12.622226
1            12.704464
2            12.836970
3            12.666065
4            12.668579

[5 rows x 1026 columns]

In [175]:
# np.loadtxt(dataset, delimiter=",", skiprows=0)

# r = np.genfromtxt(dataset, delimiter=',', names=True, case_sensitive=True)
# print(repr(r))